@import "~bootstrap/scss/bootstrap";
$fa-font-path : "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";

$header-height: 40px;

body,
#root {
  height: 100vh;
}

.app {
  background-image: url("./assets/bg-photo.jpg");
  background-position: 50%;
  background-size: cover;
  height: 100%;
}

.app__header {
  background-color: rgba(0, 0, 0, .32);
  box-sizing: border-box;
  display: flex;
  height: $header-height;
  overflow: hidden;
  padding: 4px;
  justify-content: center;
  align-items: center;

  &-logo {
    background-image: url("./assets/trello-logo.png");
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: 80px 25px;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    width: 80px;
    filter: grayscale(5) brightness(1.5);
  }
}

.board {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  padding: 10px 8px;
  height: calc(100% - #{$header-height});
  overflow-x: auto;

  &__add-btn {
    background-color: rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.12);
    transition: background-color 85ms ease-in, opacity 40ms ease-in, border-color 85ms ease-in;
    height: fit-content;
  }

  &__add-btn:hover {
    background-color: rgba(0, 0, 0, 0.24);
    border-color: rgba(0, 0, 0, 0.24);
  }

  .column {
    border-radius: 3px;
    width: 272px;
    min-width: 272px;
    margin: 0 4px;
    max-height: 100%;

    & .card-body {
      padding: 4px;
      background-color: #ebecf0;

      &:empty {
        padding: 0;
        min-height: 40px;
      }

      &::-webkit-scrollbar {
        width: 10px;
        background-color: #f9f9fd;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #BFC4CE;
      }

      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
        border-radius: 10px;
        background-color: #f9f9fd;
      }
    }

    &__add-card-btn {
      border-radius: 3px;
      color: #5e6c84;
      padding: 4px 8px;
      background: transparent;
      border: none;
      margin-top: 2px;
      margin-bottom: 4px;

      &:active,
      &:focus,
      &:hover {
        background-color: rgba(9,30,66,.08) !important;
        color: #172b4d !important;
        box-shadow: none !important;
        border: none !important;
      }
    }

    &__card {
      background-color: #fff;
      border-radius: 3px;
      box-shadow: 0 1px 0 rgba(9,30,66,.25);
      cursor: pointer;
      display: block;
      margin-bottom: 8px;
      max-width: 300px;
      min-height: 20px;
      text-decoration: none;
      z-index: 0;
      overflow: hidden;
      padding: 6px 8px 2px;
      position: relative;

      &-details {
        clear: both;
        display: block;
        margin: 0 0 4px;
        overflow: hidden;
        text-decoration: none;
        word-wrap: break-word;
        color: #172b4d;
      }

      &:hover {
        background-color: #f4f5f7;
      }
    }
  }
}

.add {
  width: 272px;
  background: #dfe3e6;
  border-radius: 5px;
  padding: 8px;

  &__buttons {
    display: flex;
  }

  &__textarea {
    //margin: 6px 0 5px 6px;
    border-radius: 3px;
    border: none;
    resize: none;
    outline: none;
    font-size: 15px;
    padding: 5px;
    overflow-y: hidden;
  }

}

.card-header {
  display: flex;
  justify-content: space-between;
  padding: 11px 14px;

  .column__title {
    flex-basis: 95%;
  }

  .column__icon {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    text-align: center;
    margin-right: -4px;
    color: #9c9c9c;
  }

  .column__icon:hover {
    background-color: rgba(9,30,66,.08);
    cursor: pointer;
  }

  .column__icon:active {
    background-color: rgba(9,30,66,.13);
  }
}

.card-footer {
  padding: 0;
}

.text-14 {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: normal;
}
