@import "~bootstrap/scss/bootstrap";
$fa-font-path : "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";

$header-height: 40px;

body,
#root {
  height: 100vh;
}

.app {
  background-image: url("./assets/bg-photo.jpg");
  background-position: 50%;
  background-size: cover;
  height: 100%;
}

.app__header {
  background-color: rgba(0, 0, 0, .32);
  box-sizing: border-box;
  display: flex;
  height: $header-height;
  overflow: hidden;
  padding: 4px;
  justify-content: center;
  align-items: center;

  &-logo {
    background-image: url("./assets/trello-logo.png");
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: 80px 25px;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    width: 80px;
    filter: grayscale(5) brightness(1.5);
  }
}

.board {
  display: flex;
  flex-wrap: nowrap;
  padding: 10px 8px;
  height: calc(100% - #{$header-height});
  overflow-x: auto;

  &__add-btn {
    background-color: rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.12);
    transition: background-color 85ms ease-in, opacity 40ms ease-in, border-color 85ms ease-in;
    height: fit-content;
  }

  &__add-btn:hover {
    background-color: rgba(0, 0, 0, 0.24);
    border-color: rgba(0, 0, 0, 0.24);
  }

  .column {
    width: 272px;
    min-width: 272px;
    margin: 0 4px;
    max-height: 100%;
  }
}

.add {
  width: 272px;
  background: #dfe3e6;
  border-radius: 5px;
  padding: 8px;

  &__buttons {
    display: flex;
  }

  &__textarea {
    //margin: 6px 0 5px 6px;
    border-radius: 3px;
    border: none;
    resize: none;
    outline: none;
    font-size: 15px;
    padding: 5px;
    overflow-y: hidden;
  }

}